
<br>
<h4 id="tableLabel">Live Price Grid</h4>

<p *ngIf="!rowPriceData"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
    <tr>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><ag-grid-angular
        #agGrid
        style="width: 700px; height: 100px;"
        class="ag-theme-balham"
        [rowData]="rowPriceData"
        [columnDefs]="columnMarketDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular></td>

    <td>
      <button class='price-button' (click)="subscribeToMarket()">Subscribe</button>
    </td>

    </tr>
    </tbody>
  </table>



