
<br>
<h4 id="tableLabel">Live Price Grid</h4>

<p *ngIf="!rowPriceData"><em>Loading...</em></p>

<!-- <button (click)="getSelectedRows()">Get Selected Rows</button> -->

<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
    <tr>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><ag-grid-angular
        #agGrid
        style="width: 750px; height: 150px;"
        class="ag-theme-balham"
        [rowData]="rowPriceData"
        [columnDefs]="columnMarketDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular></td>
    </tr>
    </tbody>
  </table>
