<p>Displaying data from the Price Level table</p>
<p *ngIf="!dataSource"><em>Loading...</em></p>

<input matInput (keyup)="onSearchInput($event)" placeholder="Search...">

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="margin-bottom: 12px;">
  
        <ng-container matColumnDef="market" class="make-gold">
          <th mat-header-cell *matHeaderCellDef> Market </th>
          <td mat-cell *matCellDef="let element"> {{element.market}} </td>
        </ng-container>
      
        <ng-container matColumnDef="granularity">
          <th mat-header-cell *matHeaderCellDef> Granularity </th>
          <td mat-cell *matCellDef="let element"> {{element.granularity}} </td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef > Active </th>
            <td mat-cell *matCellDef="let element"> {{element.active}} </td>
        </ng-container>

        <ng-container matColumnDef="tradeType">
            <th mat-header-cell *matHeaderCellDef > Type </th>
            <td mat-cell *matCellDef="let element"> {{element.tradeType}} </td>
        </ng-container>

        <ng-container matColumnDef="candleType">
            <th mat-header-cell *matHeaderCellDef > Candle Type </th>
            <td mat-cell *matCellDef="let element"> {{element.candleType}} </td>
        </ng-container>

        <ng-container matColumnDef="timeStamp">
            <th mat-header-cell *matHeaderCellDef > Timestamp </th>
            <td mat-cell *matCellDef="let element"> {{element.timeStamp | date:"dd-MM-yyyy HH:mm:ss" }} </td>
        </ng-container>

        <ng-container matColumnDef="strategy">
            <th mat-header-cell *matHeaderCellDef > Strategy </th>
            <td mat-cell *matCellDef="let element"> {{element.strategy}} </td>
        </ng-container>


        <ng-container matColumnDef="bidPrice">
            <th mat-header-cell *matHeaderCellDef > Price </th>
            <td mat-cell *matCellDef="let element"> {{element.bidPrice |  number : '1.0-4'}} </td>
        </ng-container>

        <ng-container matColumnDef="bidPriceRange">
            <th mat-header-cell *matHeaderCellDef > Price Range </th>
            <td mat-cell *matCellDef="let element"> {{element.bidPriceRange |  number : '1.0-4'}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="askPrice">
            <th mat-header-cell *matHeaderCellDef > AskPrice </th>
            <td mat-cell *matCellDef="let element"> {{element.askPrice |  number : '1.0-4'}} </td>
        </ng-container>

        <ng-container matColumnDef="askPriceRange">
            <th mat-header-cell *matHeaderCellDef > AskPrice Range </th>
            <td mat-cell *matCellDef="let element"> {{element.askPriceRange |  number : '1.0-4'}} </td>
        </ng-container> -->


        <ng-container matColumnDef="lastUpdated">
            <th mat-header-cell *matHeaderCellDef > Updated </th>
            <td mat-cell *matCellDef="let element"> {{element.lastUpdated | date:"dd-MM-yyyy HH:mm:ss" }} </td>
        </ng-container>
    

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr> -->
        <tr mat-row [ngClass]="{gray: even}" *matRowDef="let element; let even = even; columns: displayedColumns;" ></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>





