table {
    width: 100%;
  }
  .mat-header-cell{
    font-size: 13pt;
    font-weight: bolder;
    text-align: left;
  }
  
  .make-gold {
      background-color: lightcoral
  }

  .gray { background-color: #f5f5f5 }

  .green-flash {
    -webkit-animation-name: flash-animation;
    -webkit-animation-duration: 0.3s;

    animation-name: flash-animation;
    animation-duration: 0.3s;
}

@keyframes flash-animation {  
    from { background: none; }
    to   { background: green; }
}