
<table>
    <app-fetch-price-live-data-grid></app-fetch-price-live-data-grid>
</table>
<br>
<h4 id="tableLabel">Live Price Level Grid</h4>

<p *ngIf="!rowPriceLevelData"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel">
    <tbody>
    <tr>
      <td><ag-grid-angular
        #agGrid
        style="width: 1100px; height: 300px;"
        class="ag-theme-balham"
        [rowData]="rowPriceLevelData"
        [columnDefs]="columnMarketDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular></td>
    </tr>
    </tbody>
  </table>







