table {
    width: 80%;
  }
  .mat-header-cell{
    font-size: 13pt;
    font-weight: bolder;
    text-align: left;
  }
  
  .make-gold {
      background-color: lightgreen
  }

  .gray { background-color: #f5f5f5 }