<h4 id="tableLabel">Market Grid</h4>

<p>This component demonstrates fetching data from the server and displaying in AG-Grid.</p>

<p *ngIf="!rowMarketData"><em>Loading...</em></p>
<br>

<button (click)="getSelectedRows()">Get Selected Rows</button>

<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
    <tr>
      <th>Balham</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><ag-grid-angular
        #agGrid
        style="width: 900px; height: 200px;"
        class="ag-theme-balham"
        [rowData]="rowMarketData"
        [columnDefs]="columnMarketDefs">
    </ag-grid-angular></td>
    </tr>
    </tbody>
  </table>




