table {
    width: 100%;
  }
  
  input {
    width: 220px;
    border-radius: 10px;
    border: 1px solid;
    height: 40px;
    padding: 20px;
    font-size: 15px;
    margin: 20px;
  }

  * {
    margin: auto
    /* font-family: "Roboto", sans-serif; */
  }