
<table>
    <app-fetch-price-live-data-grid></app-fetch-price-live-data-grid>
  </table>

<br>
<h4 id="tableLabel">Live Trade Grid</h4>

<p *ngIf="!rowTradeData"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
    <tr>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><ag-grid-angular
        #agGrid
        style="width: 1100px; height: 100px;"
        class="ag-theme-balham"
        [rowData]="rowTradeData"
        [columnDefs]="columnMarketDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular></td>
    </tr>

    </tbody>

  </table>







