<h4 id="tableLabel">Price Bid Data</h4>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!prices"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="prices">
  <thead>
    <tr>
      <th>Market</th>
      <th>Granularity</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>TickQty</th>
      <th>TimeStamp</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let price of prices">
      <td>{{ price.market }}</td>
      <td>{{ price.granularity }}</td>
      <td>{{ price.bidOpen }}</td>
      <td>{{ price.bidHigh }}</td>
      <td>{{ price.bidLow }}</td>
      <td>{{ price.bidClose }}</td>
      <td>{{ price.tickQty }}</td>
      <td>{{ price.timestamp }}</td>
    </tr>
  </tbody>
</table>