<h4 id="tableLabel">Market Data</h4>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!markets"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="markets">
  <thead>
    <tr>
      <th>Name</th>
      <th>Interval</th>
      <th>TimeFrame</th>
      <th>Active</th>
      <th>Max Date</th>
      <th>TimeFrame Interval</th>
      <th>Broker Time Min Interval</th>
      <th>Broker Time Interval</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let market of markets">
      <td>{{ market.name }}</td>
      <td>{{ market.interval }}</td>
      <td>{{ market.timeFrame }}</td>
      <td>{{ market.active }}</td>
      <td>{{ market.maxDate | date }}</td>
      <td>{{ market.timeFrameInterval }}</td>
      <td>{{ market.brokerTimeMinInterval }}</td>
      <td>{{ market.brokerTimeInterval }}</td>
      <td>{{ market.lastUpdated }}</td>
    </tr>
  </tbody>
</table>
