<!-- 
<highcharts-chart *ngIf="chartOptions"
[Highcharts]="Highcharts"
[options]="chartOptions"
style="width: 75% ; height: 400px; display: block;" ></highcharts-chart> -->

<p>This chart displays current pricing data in the Candle format</p>

<app-dropdown-granularity [granularity]="granularity" (changeGranularity)="onGranularityChange($event)"> </app-dropdown-granularity>

<!-- <button mat-raised-button (click)="refreshdata()">Basic</button> -->
<!-- <button class="btn btn-primary" (click)="incrementCounter()">Increment</button> -->
<div id="container" style="height: 600px; min-width: 310px"></div>
